<meta charset="utf-8" />
<div class="container-fluid">

<div class="row">
    <div style="margin-bottom: 20px"></div>
            <div class="panel panel-primary">
                <div class="panel-heading"><div class="panel-title">Produtos</div></div>
                <div class="panel-body">
                
                <section>
                    <div class="col-xs-3">
                    <input type="text" ng-model="search" class="form-control" placeholder="Procurar"/>
                    </div>
                    <button ng-click="abrirCadastroProduto()" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> Adicionar Produto</button>
                </section>

                </div>
                <table ng-table="tableParams" class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Descrição</th>
                            <th>Data de Cadastro</th>
                            <th>Estoque</th>
                            <th>Valor</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="cliente in clientes | filter:search | orderBy: 'nome'">
                            <td>{{$index}}</td>
                            <td>
                                {{cliente.nome}}
                            </td>
                            <td>
                                <span ng-bind-html="cliente.telefone | tel"></span>
                            </td>
                            <td>
                                {{cliente.email}}
                            </td>
                            <td>
                                {{cliente.empresa}}
                            </td>
                            <td>
                                {{cliente.cnpj}}
                            </td>
                            <td>
                                {{cliente.setor}}
                            </td>
                            <td>
                                {{cliente.cnae}}
                            </td>
                            <td>

                                <a ng-href="#/cliente/{{cliente.id}}" class="btn btn-default btn-xs"><i class="fa fa-eye"></i></a>

                                <!--
                                <a class="btn btn-default btn-xs" ng-click="verCliente(cliente.id)"><i class="fa fa-eye"></i></a>
                                -->
                                <a  href="" class="btn btn-primary btn-xs" ng-click="abrirEdicaoProduto(produto.id)"><i class="fa fa-edit"></i></a>
                                <a  ng-click="removerCliente(produto.id)" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></a>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

    </div>
</div>
</div>

<script type="text/ng-template" id="add_cliente_modal">
    <div class="modal-header">
        <h3>Cliente</h3>
    </div>
    <div class="modal-body">
        <!--<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>-->
        <form name="clienteForm" class="form-horizontal" ng-submit="add()">
            <div class="control-group">
                <label class="control-label" for="nome">Nome</label>
                <div class="controls">
                    <input id="nome" name="nome" ng-model="cliente.nome" type="text" placeholder="Nome" class="form-control" ng-required="true"  ng-class="{error: user.name.$invalid && !user.name.$pristine}"/>
                </div>
            </div>

            <div class="control-group" >
                <label class="control-label" for="telefone">Telefone</label>
                <div class="controls">
                    <input id="telefone" name="telefone" ng-model="cliente.telefone" type="text" class="form-control" ng-required="true" ui-mask="(99) 9999-9999" />
                </div>
            </div>

            <div class="control-group" >
                <label class="control-label" for="email">E-mail</label>
                <div class="controls">
                    <input id="email" name="email" ng-model="cliente.email" type="email" placeholder="E-mail" class="form-control" ng-required="true" />
                </div>
            </div>

            <div class="control-group" >
                <label class="control-label" for="empresa">Empresa</label>
                <div class="controls">
                    <input id="empresa" name="empresa" ng-model="cliente.empresa" type="text" placeholder="Empresa" class="form-control" required />
                </div>
            </div>


            <div class="control-group" >
                <label class="control-label" for="cnpj">CNPJ</label>
                <div class="controls">
                    <input id="cnpj" name="cnpj" ng-model="cliente.cnpj" type="text" placeholder="CNPJ" class="form-control" required />
                </div>
            </div>


            <div class="control-group" >
                <label class="control-label" for="setor">Setor</label>
                <div class="controls">
                    <input id="setor" name="setor" ng-model="cliente.setor" type="text" placeholder="Setor" class="form-control" required />
                </div>
            </div>


            <div class="control-group" >
                <label class="control-label" for="cnae">CNAE</label>
                <div class="controls">
                    <input id="cnae" name="cnae" ng-model="cliente.cnae" type="text" placeholder="CNAE" class="form-control" required />
                </div>
            </div>


            <div class="control-group">
                <label class="control-label" >Pesquisa </label>
                <div class="well well-sm">
					<span class="text-bold">Pesquisas cont&iacute;nuas</span>
                    <div ng-repeat="pesquisa in pesquisasCad | filter:{tipo:1}">
                        <input type="checkbox" checklist-model="cliente.pesquisas" checklist-value="pesquisa"/> <span ng-bind="pesquisa.descricao"></span>
                    </div>

					<br/>
					<span class="text-bold">Pesquisas sob encomenda</span>
					<div ng-repeat="pesquisa in pesquisasCad | filter:{tipo:2}">
                        <input type="checkbox" checklist-model="cliente.pesquisas" checklist-value="pesquisa"/> <span ng-bind="pesquisa.descricao"></span>
                    </div>

                </div>
            </div>

            <div class="control-group" >
                <br/>
                <div class="pull-right">
                    <button type="button" ng-click="save()" ng-if="cliente.id" ng-disabled="cliente.$invalid" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
                    <!--
                    <button ng-click="add()" type="submit" ng-if="!cliente.id && cliente.nome" ng-disabled="cliente.$invalid" class="btn btn-primary"><i class="fa fa-plus"></i> Adicionar</button>
                    -->
                    <button type="submit" ng-if="!cliente.id" ng-disabled="cliente.$invalid" class="btn btn-primary"><i class="fa fa-save"></i> Adicionar</button>

                    <button type="button" ng-click="cancel()" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Cancelar</button>
                </div>


            </div>

        </form>
    </div>
    <br/>
    <br/>
</script>
